body{
    margin: 0px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
hr{
  width: 100%;
}
.footer{
  margin-top: 50px;
}
.home-content{
  padding: 30px;
  padding-top: 60px;
}
/*SHOP*/
@media only screen and (min-width: 768px) {
  body{
    font-size: 12px !important;
  }
  img{
    padding-left: 30px !important;
    height: 250px !important;
    width: 300px !important;
  }
  .description{
    padding: 20px !important;
    margin-right: 90px !important;
    border-style: solid !important;
    border-color: #85888c !important;
  }
 }
 @media only screen and (min-width: 1200px) {
   body{
     font-size: 16px !important;
   }
   img{
     padding-left: 50px !important;
     height: 400px !important;
     width: 500px !important;
   }
   .description{
     vertical-align: middle;
     padding: 20px !important;
     margin-right: 50px !important;
     border-style: solid !important;
     border-color: #85888c !important;
   }
  }
#columns{
  column-count: 2;
  text-align: justify;
  padding-top: 10px;
}
img{
  padding-left: 20px;
  vertical-align: middle;
  height: 400px;
  width: 500px;
}
.description{
  padding: 20px;
  margin-right: 200px;
  border-style: solid;
  border-color: #85888c;
}
.txt{
  text-align: justify;
}
ul {
  list-style-type: square;
}
p{
  text-align: right;
}
button{
  float: right;
  font-size: 20px;
  background-color: #5CB85C;
  color: white;
  padding: 11px 13px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}
button:hover{
  background-color: #6cbf6c;
}
/*END-SHOP*/
/*NAVBAR*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A7AAAF;
    position: fixed;
    width: 100%;
}
li.content {
    float: left;
    width: 155px;
}
li.content a, .dropbtn {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.content a{
  width: 120px;
}
li.content a:hover, .dropdown:hover .dropbtn, .toggle-sidebar:hover{
    background-color: #cacccf;
}
li.dropdown {
    float: right;
    display: inline-block;
}
.dropdown-content {
    margin-top: 46px;
    width: 206px;
    display: none;
    float: right;
    background-color: #A7AAAF;
    min-width: 177px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
  background-color: #dbdddf;
}
.navbar .toggle-sidebar {
    color: #000000;
    line-height: 36px;
    float: left;
    margin-left: 0px;
    display: inline-block;
    position: relative;
    padding: 7px 14px;
    padding-top: 3px;
    font-size: 18px;
    text-decoration: none;
}
/*END-NAVBAR*/

/*SIDEBAR*/
#wrapper {
  padding-left: 200px;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  background: #A7AAAF;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  margin-top: 46px;
}
#wrapper.active {
  padding-left: 0;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}
.sidebar-nav li a {
  color: #000000 !important;
  display: block !important;
  text-decoration: none !important;
  padding-left: 30px !important;
}
.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  text-align: center;
  width: 20px;
  line-height: 18px;
}
.sidebar-nav li a:hover,
.sidebar-nav li.active {
  background-color: #dbdddf;
  text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
/*END-SIDEBAR*/
