body{
    margin: 0px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer{
  margin-top: 50px;
}
.home-content{
  padding: 30px;
  padding-top: 50px;
}
/*SHOP*/
.image img{
  display: block;
  text-align: center;
  width: 800px;
  height: 300px;
}
.description{
  text-align: justify;
}
ul {
  list-style-type: square;
}
p{
  text-align: right;
}
button{
  float: right;
  font-size: 13px;
  background-color: black;
  color: white;
  padding: 9px 11px;
  border-color: black;
  border-radius: 5px;
}
/*END-SHOP*/
/*NAVBAR*/
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    width: 100%;
}
li.content {
    float: left;
    width: 155px;
}
li.content a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.content a{
  width: 120px;
}
li.content a:hover, .dropdown:hover .dropbtn, .toggle-sidebar:hover{
    background-color: #323232;
}
li.dropdown {
    float: right;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 177px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
  background-color: #666666;
}
.navbar .toggle-sidebar {
    color: #fff;
    line-height: 36px;
    float: left;
    margin-left: 0px;
    display: inline-block;
    position: relative;
    padding: 7px 14px;
    padding-top: 3px;
    font-size: 18px;
    text-decoration: none;
}
/*END-NAVBAR*/

/*SIDEBAR*/
#wrapper {
  padding-left: 200px;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  background: #000000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  margin-top: 46px;
}
#wrapper.active {
  padding-left: 0;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}
.sidebar-nav li a {
  color: #ffffff !important;
  display: block !important;
  text-decoration: none !important;
  padding-left: 60px !important;
}
.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}
.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
/*END-SIDEBAR*/
